# Tugas Akhir Machine Learning
## Nilai A Barokah

### 1. Data

#### Preprocessing Data

In [1]:
import random
import numpy as np
import pandas as pd

attribute_name = ['ncd', 'ai', 'as_na', 'bl', 'nac', 'as_nac', 'cs', 'at', 'na', 'adl', 'nad']
days = [0, 1, 2, 3, 4, 5, 6]
name = []

#penamaan dari data
name.append('index')

for i in range(len(attribute_name)):
    for j in range(len(days)):
        name.append(attribute_name[i]+"_"+str(days[j]))

name.append('label')

#pembacaan data dari file csv
#data berasal dari http://ama.liglab.fr/resourcestools/datasets/buzz-prediction-in-social-media/
twitter_data = pd.read_csv('data_modif.csv', skiprows=[0], names = name)

#mengetahui dimensi data
print(twitter_data.shape)

#5 baris data pertama
#print(twitter_data.head(5))

(140707, 79)

#### Descriptive Statistics

In [2]:
#deskripsi statistik dimasukkan ke dalam file csv
twitter_data.describe().transpose().to_csv('deskripsi_statistik.csv', sep=',')

#deskripsi statistik
print(twitter_data.describe())

               index          ncd_0          ncd_1          ncd_2  \
count  140707.000000  140707.000000  140707.000000  140707.000000
mean    70354.000000     172.279823     155.150625     165.464476
std     40618.756501     509.872276     471.573236     495.360236
min         1.000000       0.000000       0.000000       0.000000
25%     35177.500000       3.000000       2.000000       3.000000
50%     70354.000000      22.000000      19.000000      20.000000
75%    105530.500000     125.000000     112.000000     119.000000
max    140707.000000   24210.000000   22899.000000   20495.000000

               ncd_3          ncd_4          ncd_5          ncd_6  \
count  140707.000000  140707.000000  140707.000000  140707.000000
mean      176.820549     186.937700     216.209208     243.866510
std       528.351277     560.331281     632.188378     707.402192
min         0.000000       0.000000       0.000000       0.000000
25%         3.000000       3.000000       4.000000       5.000000
50%        22.000000      23.000000      28.000000      33.000000
75%       126.000000     133.000000     161.000000     186.000000
max     27007.000000   30957.000000   28603.000000   37505.000000

                ai_0           ai_1      ...                adl_5  \
count  140707.000000  140707.000000      ...        140707.000000
mean       87.050154      78.639236      ...             1.113444
std       234.731748     218.448179      ...             1.374287
min         0.000000       0.000000      ...             0.000000
25%         2.000000       2.000000      ...             1.000000
50%        13.000000      11.000000      ...             1.000000
75%        70.000000      64.000000      ...             1.100000
max     15105.000000   15730.000000      ...           185.666672

               adl_6          nad_0          nad_1          nad_2  \
count  140707.000000  140707.000000  140707.000000  140707.000000
mean        1.196131     172.838807     155.630878     165.938674
std         1.826150     510.937549     472.462733     496.233557
min         0.000000       0.000000       0.000000       0.000000
25%         1.000000       3.000000       2.000000       3.000000
50%         1.000000      22.000000      19.000000      21.000000
75%         1.119048     126.000000     113.000000     119.000000
max       295.000000   24301.000000   22980.000000   20495.000000

               nad_3          nad_4          nad_5          nad_6  \
count  140707.000000  140707.000000  140707.000000  140707.000000
mean      177.314810     187.463794     216.776294     244.479194
std       529.286514     561.309487     633.203935     708.436795
min         0.000000       0.000000       0.000000       0.000000
25%         3.000000       3.000000       4.000000       6.000000
50%        22.000000      23.000000      28.000000      33.000000
75%       127.000000     134.000000     162.000000     187.000000
max     27071.000000   31028.000000   28697.000000   37505.000000

               label
count  140707.000000
mean        0.197396
std         0.398035
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000

[8 rows x 79 columns]

#### Pearson Correlation

In [3]:
#pearson correlation dari masing-masing attribute

#### Data Visualization

##### - Histogram

In [4]:
import matplotlib.pyplot as plt

label_x = [0,1]

label_0 = 0
label_1 = 0

for i in range(len(twitter_data.label)):
    if twitter_data.label[i] == 0:
        label_0 += 1
    elif twitter_data.label[i] == 1:
        label_1 += 1

label_y = [label_0, label_1]
        
print(label_x)
print(label_y)
        
plt.bar(label_x, label_y, label="Label", color='b')
plt.xlabel('Target 0          -          Target 1')
plt.ylabel('Frekuensi')
plt.title('Histogram Prediction Target')
plt.show()

[0, 1]
[112932, 27775]

##### - Attribute Plot

import matplotlib.pyplot as plt
import statistics
from statistics import mean

average = [0,0,0,0,0,0,0]
hari = [1,2,3,4,5,6,7]

ncd = [twitter_data.ncd_0, twitter_data.ncd_1, twitter_data.ncd_2, twitter_data.ncd_3, twitter_data.ncd_4, twitter_data.ncd_5, twitter_data.ncd_6]
ai = [twitter_data.ai_0, twitter_data.ai_1, twitter_data.ai_2, twitter_data.ai_3, twitter_data.ai_4, twitter_data.ai_5, twitter_data.ai_6]
as_na = [twitter_data.as_na_0, twitter_data.as_na_1, twitter_data.as_na_2, twitter_data.as_na_3, twitter_data.as_na_4, twitter_data.as_na_5, twitter_data.as_na_6]
bl = [twitter_data.bl_0, twitter_data.bl_1, twitter_data.bl_2, twitter_data.bl_3, twitter_data.bl_4, twitter_data.bl_5, twitter_data.bl_6]
adl = [twitter_data.adl_0, twitter_data.adl_1, twitter_data.adl_2, twitter_data.adl_3, twitter_data.adl_4, twitter_data.adl_5, twitter_data.adl_6]

for i in range(7): 
    average[i] = statistics.mean(ncd[i])
    
plt.plot(hari, average)
plt.title('Number of Created Discussions (NCD)')
plt.show()

average = [0,0,0,0,0,0,0]
    
for i in range(7): 
    average[i] = statistics.mean(ai[i])
    
plt.plot(hari, average)
plt.title('Author Increase (AI)')
plt.show()

average = [0,0,0,0,0,0,0]

for i in range(7): 
    average[i] = statistics.mean(as_na[i])

plt.plot(hari, average)
plt.title('Attention Level (AS_NA)')
plt.show()

average = [0,0,0,0,0,0,0]

for i in range(7): 
    average[i] = statistics.mean(bl[i])
    
plt.plot(hari, average)
plt.title('Burstiness Level (BL)')
plt.show()

average = [0,0,0,0,0,0,0]
    
for i in range(7): 
    average[i] = statistics.mean(adl[i])
    
plt.plot(hari, average)
plt.title('Average Discussions Length (ADL)')
plt.show()

#### Random Sampling of Data with Label = 0

In [14]:

twitter_data_label0 = twitter_data[twitter_data.label == 0]
#print(twitter_data_label0.shape)
#print(twitter_data_label0.head(5))

sample_twitter_data_label0 = twitter_data_label0.sample(n=27775)
print(sample_twitter_data_label0.shape)
#print(sample_twitter_data_label0.head(5))

twitter_data_label1 = twitter_data[twitter_data.label == 1]
print(twitter_data_label1.shape)
#print(twitter_data_label1.head(5))

twitter_data = pd.concat([sample_twitter_data_label0, twitter_data_label1])
print(twitter_data.shape)
print(twitter_data.head())

twitter_data.to_csv('RandomSampling.csv', float_format = '%.6f', index = False, header = True)

(27775, 79)
(27775, 79)
(55550, 79)
         index  ncd_0  ncd_1  ncd_2  ncd_3  ncd_4  ncd_5  ncd_6  ai_0  ai_1  \
8318      8319      5     10      3      4      3      4      7     4     8
99229    99230     22     29     47     37     49     24     31    13     8
114        115      0      2      0      0      0      1      1     0     2
4427      4428     34     25     30     24     23     49     41    28    19
116466  116467      7      8     11     14      8      9     11     4     3

        ...       adl_5     adl_6  nad_0  nad_1  nad_2  nad_3  nad_4  nad_5  \
8318    ...    1.500000  3.500000      5     10      4      5      3      4
99229   ...    1.000000  1.032258     22     29     47     37     49     24
114     ...    1.000000  1.000000      0      2      0      0      0      1
4427    ...    1.000000  1.024390     34     26     30     24     23     49
116466  ...    1.111111  1.272727      7      8     11     14      8      9

        nad_6  label
8318        8      0
99229      31      0
114         1      0
4427       41      0
116466     11      0

[5 rows x 79 columns]

### 2. Decision Tree Algorithm

#### 2.a Lazy DT

#### 2.b Eager DT

### 3. Stacking Classifier